<section id="horizontal-form-layouts">
          
    <div class="row">
      <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title" id="horz-layout-colored-controls">New Item</h4>
               
            </div>
        
              <form class="form form-horizontal">
                <div class="form-body">
                <div class="row">
<div class="col-md-8">

<div class="form-group row">
      <label class="col-md-3 label-control">Type</label>
      <div class="col-md-9">
        <div class="input-group">
          <div class="d-inline-block custom-control custom-radio mr-1">
            <input type="radio" name="customer1" class="custom-control-input" checked="" id="yes">
            <label class="custom-control-label" for="yes">Goods</label>
          </div>
          <div class="d-inline-block custom-control custom-radio">
            <input type="radio" name="customer1" class="custom-control-input" id="no">
            <label class="custom-control-label" for="no">Services</label>
          </div>
        </div>
      </div>
    </div>
</div>
                </div>
                  <div class="row">
              
                    <div class="col-md-8">
                      <div class="form-group row">
                        <label class="col-md-3 label-control" for="userinput1">Item Name</label>
                        <div class="col-md-9">
                          <input type="text" id="userinput1" class="form-control border-primary" placeholder="Item Name"
                          name="firstname">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-md-3 label-control" for="userinput2">SKU</label>
                        <div class="col-md-9">
                          <input type="text" id="userinput2" class="form-control border-primary" placeholder="SKU"
                          name="lastname">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-md-3 label-control" for="userinput2">Unit</label>
                        <div class="col-md-9">
                        <select id="issueinput5" name="priority" class="form-control border-primary" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Priority" data-original-title="" title="">
                      <option value="low">Low</option>
                      <option value="medium">Medium</option>
                      <option value="high">High</option>
                    </select>
                        </div>
                      </div>

                        <div class="form-group row">
                        <label class="col-md-3 label-control" for="userinput2">HSN Code</label>
                        <div class="col-md-9">
                          <input type="text" id="userinput2" class="form-control border-primary" placeholder="HSN Code"
                          name="lastname">
                        </div>
                      </div>

<div class="form-group row">
      <label class="col-md-3 label-control">Tax Preference</label>
      <div class="col-md-9">
        <div class="input-group">
          <div class="d-inline-block custom-control custom-radio mr-1">
            <input type="radio" name="customer" class="custom-control-input" checked="" id="yes1">
            <label class="custom-control-label" for="yes">Taxable</label>
          </div>
          <div class="d-inline-block custom-control custom-radio">
            <input type="radio" name="customer" class="custom-control-input" id="no1">
            <label class="custom-control-label" for="no">Non Taxable</label>
          </div>
        </div>
      </div>
    </div>
                    </div>
                    <div class="col-md-6">
                      
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-8">
                      <div class="form-group row">
                        <label class="col-md-3 label-control" for="userinput3">Manufacturer</label>
                        <div class="col-md-9">
                        <select id="issueinput5" name="priority" class="form-control border-primary" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Priority" data-original-title="" title="">
                      <option value="low">Low</option>
                      <option value="medium">Medium</option>
                      <option value="high">High</option>
                    </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="form-group row">
                        <label class="col-md-3 label-control" for="userinput4">Brand</label>
                        <div class="col-md-9">
                        <select id="issueinput5" name="priority" class="form-control border-primary" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Priority" data-original-title="" title="">
                      <option value="low">Low</option>
                      <option value="medium">Medium</option>
                      <option value="high">High</option>
                    </select>
                        </div>
                      </div>
                    </div>
                  </div>

                  <h4 class="form-section" style="margin-left:30px"><input type="checkbox" value="" checked> Sales Information
              <span style="margin-left:33%"><input type="checkbox" value="" checked> Purchase Information</span>
              </h4>
                 
                  <div class="row" style="padding:20px">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-md-3 label-control" for="userinput5">Selling Price(INR)</label>
                        <div class="col-md-9">
                          <input class="form-control border-primary" type="email" placeholder="Selling Price" id="userinput5">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-md-3 label-control" for="userinput6">Account</label>
                        <div class="col-md-9">
                        <select id="issueinput5" name="priority" class="form-control border-primary" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Priority" data-original-title="" title="">
                      <option value="low">Low</option>
                      <option value="medium">Medium</option>
                      <option value="high">High</option>
                    </select>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-md-3 label-control">Description</label>
                        <div class="col-md-9">
                        <textarea id="userinput8" rows="3" class="form-control border-primary" name="bio"
                          placeholder="Description"></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-md-3 label-control" for="userinput5">Purchase Price(INR)</label>
                        <div class="col-md-9">
                          <input class="form-control border-primary" type="email" placeholder="Purchase Price" id="userinput5">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-md-3 label-control" for="userinput6">Account</label>
                        <div class="col-md-9">
                        <select id="issueinput5" name="priority" class="form-control border-primary" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Priority" data-original-title="" title="">
                      <option value="low">Low</option>
                      <option value="medium">Medium</option>
                      <option value="high">High</option>
                    </select>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-md-3 label-control">Description</label>
                        <div class="col-md-9">
                        <textarea id="userinput8" rows="3" class="form-control border-primary" name="bio"
                          placeholder="Description"></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                  <h4 class="form-section" style="margin-left:30px"><input type="checkbox" value="" checked> Tax Rates</h4>
                  <div class="row" style="padding:20px">
                    <div class="col-md-6">
                    <div class="form-group">
                    <label for="userinput5">Intra State Tax Rate</label>
                    <input class="form-control border-primary" type="email" placeholder="GST0 (0 %)" id="userinput5">
                  </div>                          
                   
                    </div>
                    <div class="col-md-6">
                    <div class="form-group">
                    <label for="userinput5">Intra State Tax Rate</label>
                    <input class="form-control border-primary" type="email" placeholder="IGST0 (0 %)" id="userinput5">
                  </div>
                    </div>
                  </div>
                  <h4 class="form-section" style="margin-left:30px"><input type="checkbox" value="" checked> Track inventory</h4>
                  <div class="row" style="padding:20px">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-md-3 label-control" for="userinput5">Account</label>
                        <div class="col-md-9">
                        <select id="issueinput5" name="priority" class="form-control border-primary" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Priority" data-original-title="" title="">
                      <option value="low">Low</option>
                      <option value="medium">Medium</option>
                      <option value="high">High</option>
                    </select>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-md-3 label-control" for="userinput6">Opening Stock</label>
                        <div class="col-md-9">
                          <input class="form-control border-primary" type="url" placeholder="Opening Stock" id="userinput6">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-md-3 label-control">Reorder Level</label>
                        <div class="col-md-9">
                          <input class="form-control border-primary" type="tel" placeholder="Reorder Level"
                          id="userinput7">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-md-3 label-control">Opening Stock Value</label>
                        <div class="col-md-9">
                          <input class="form-control border-primary" type="tel" placeholder="Opening Stock"
                          id="userinput7">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-md-3 label-control">Preferred Vendor</label>
                        <div class="col-md-9">
                        <select id="issueinput5" name="priority" class="form-control border-primary" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Priority" data-original-title="" title="">
                      <option value="low">Low</option>
                      <option value="medium">Medium</option>
                      <option value="high">High</option>
                    </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-actions right">
                  <button type="button" class="btn btn-warning mr-1">
                    <i class="ft-x"></i> Cancel
                  </button>
                  <button type="submit" class="btn btn-primary">
                    <i class="la la-check-square-o"></i> Save
                  </button>
                </div>
              </form>
            </div>
          </div>
       
   
                       
      </div>
  </section>