<section id="wrapper">
   
    <div class="main">
      <!-- <h1>My documents</h1> -->
      <div class="input-wrap"><input id="searchbar" type="search" placeholder="Search a file..." /><i class="fa fa-search" aria-hidden="true"></i></div>
      <div class="left">
        <div class="top-droppable folder tooltiper tooltiper-up" data-tooltip="0 file" id="folder1"><i class="fa fa-folder" aria-hidden="true">
          <i class="icon-lock locked-check"></i>
        <i class="ft-more-horizontal more-button"></i>
        </i><i class="fa fa-check" aria-hidden="true"></i><p>Folder 1</p></div>
        <div class="top-droppable folder tooltiper tooltiper-up" data-tooltip="0 file" id="folder2"><i class="fa fa-folder" aria-hidden="true"></i><i class="fa fa-check" aria-hidden="true"></i><p>Folder 2</p></div>
        <div class="top-droppable folder tooltiper tooltiper-up" data-tooltip="0 file" id="folder3"><i class="fa fa-folder" aria-hidden="true"></i><i class="fa fa-check" aria-hidden="true"></i><p>Folder 3</p></div>
        <div class="top-droppable folder tooltiper tooltiper-up" data-tooltip="0 file" id="folder4"><i class="fa fa-folder" aria-hidden="true">
            <i class="icon-lock locked-check"></i>
            <i class="ft-more-horizontal more-button"></i>
        </i><i class="fa fa-check" aria-hidden="true"></i><p>Folder 4</p></div>
        <div class="top-droppable folder tooltiper tooltiper-up" data-tooltip="0 file" id="folder5"><i class="fa fa-folder" aria-hidden="true"><i class="icon-lock locked-check"></i></i><i class="fa fa-check" aria-hidden="true"></i><p>Folder 5</p></div>
      </div>
    </div>
    <div class="right">
      <div class="">

        <input class="form-control" type="email" placeholder="  Create Floder" style="border: 1px solid #cccccc;margin-left:-10px;">
        <i class="fa fa-plus-circle add-folder-icon" aria-hidden="true"></i>
      </div>
      <hr class="hr-line">
      <div class="input-select-wrap">
         
        <div class="fileUpload">
          <span>+</span><p>Add your files</p>
        </div>
        <input id='fileSelect' multiple name='fileSelect' type='file'>
      </div>
      <div id='draggableFile'>
        <span>Drop your files here<br/><span>You can drop your files here to add them to your documents</span></span>
      </div>
      <div id='result'></div>
    </div>
    
    
  </section>