<!--Sorting DataTable Starts-->
<section id="sorting" class="mb-3">
    <div class="row">
        <div class="col-6">
                <div class="btn-group ml-1">
                        <div ngbDropdown placement="bottom-right" class="d-inline-block">
                            <button class="btn btn-sm btn-outline-secondary" id="dropdownBasic1" ngbDropdownToggle>All Items</button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                <button class="dropdown-item">All Items</button>
                                <button class="dropdown-item">Low Stock</button>
                                <button class="dropdown-item">Sales</button>
                                <button class="dropdown-item">Purchases</button>
                                <button class="dropdown-item">Services</button>
                                <button class="dropdown-item">Active Items</button>
                                <button class="dropdown-item">Inactive Items</button>
                                <div class="dropdown-divider"></div>
                                <button class="dropdown-item">Inventory Items</button>
                                <button class="dropdown-item">Non-Inventory Items</button>
                                <button class="dropdown-item">Ungrouped Items</button>
                            </div>
                        </div>
                    </div>
            
        </div>
        <div class="col-6">
            <div class="content-header float-right">Sorting DataTable</div>
            
        </div>
    </div>
  
        <div class="col-12">
                <!-- <ngx-datatable class="bootstrap" [rows]="rows" [columns]="[{name:'Name'},{name:'Company Name'},{name:'E-mail'},{name:'Phone'},{name:'GST TREATMENT'},{name:'RECEIVABLES'},{name:'PAYABLES'}]" [columnMode]="'force'"
                [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10" [sorts]="[{prop: 'name', dir: 'desc'}]">
            </ngx-datatable> -->

        
        </div>
</section>
<!--Sorting DataTable Ends-->