<!-- Basic form layout section start -->
<section id="horizontal-form-layouts">
   
  
    <div class="row">
      <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title" id="horz-layout-colored-controls">New Contact</h4>
                   
                </div>
                <div class="card-body">
                    <div class="px-3">
                <form class="form form-horizontal">
                          <div class="form-body">
                            <h4 class="form-section"><i class="ft-info"></i> Add New</h4>
                            <div class="row">
                              <div class="col-md-8">
                                  <div class="form-group row">
                                      <label class="col-md-3 label-control">Contact Type:</label>
                                      <div class="col-md-8">
                                        <div class="input-group">
                                          <div class="d-inline-block custom-control custom-radio mr-1">
                                            <input type="radio" name="customer1" class="custom-control-input" checked="" id="yes">
                                            <label class="custom-control-label" for="yes">Customer</label>
                                          </div>
                                          <div class="d-inline-block custom-control custom-radio">
                                            <input type="radio" name="customer1" class="custom-control-input" id="no">
                                            <label class="custom-control-label" for="no">Vendor</label>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <label class="col-md-2 label-control" for="userinput1">Primary Contact: </label>
                                            <div class="col-md-3">
                                                <select class="form-control border-primary" id="basicSelect">
                                                    <option>Salutation</option>
                                                    <option>Mr.</option>
                                                    <option>Mrs.</option>
                                                    <option>Ms.</option>
                                                    <option>Miss.</option>
                                                    <option>Dr.</option>
                                                  </select>
                                              </div>
                                            <div class="col-md-3">
                                                <input type="text" id="userinput1" class="form-control border-primary"  name="firstname" placeholder="First Name">
                                              </div>
                                            <div class="col-md-3">
                                                <input type="text" id="userinput1" class="form-control border-primary"  name="lastname" placeholder="Last Name">
                                              </div>
                                          </div>
                                    </div>
                                 
                              
                              <div class="col-md-8">
                                  <div class="form-group row">
                                    <label class="col-md-3 label-control" for="userinput2">Company Name: </label>
                                    <div class="col-md-9">
                                        <input type="text" id="userinput2" class="form-control border-primary"  name="lastname">
                                    </div>
                                  </div>
                                </div>
                             
                              <div class="col-md-8">
                                  <div class="form-group row">
                                    <label class="col-md-3 label-control" for="userinput2">Contact Display Name: </label>
                                    <div class="col-md-9">
                                        <input type="text" id="userinput2" class="form-control border-primary"  name="lastname">
                                    </div>
                                  </div>
                                </div>
                             
                              <div class="col-md-8">
                                  <div class="form-group row">
                                    <label class="col-md-3 label-control" for="userinput2">Contact Email: </label>
                                    <div class="col-md-9">
                                        <input type="text" id="userinput2" class="form-control border-primary"  name="lastname">
                                    </div>
                                  </div>
                                </div>
                              <div class="col-md-12">
                                  <div class="form-group row">
                                    <label class="col-md-2 label-control" for="userinput2">Contact Phone: </label>
                                    <div class="col-md-3">
                                        <input type="text" id="userinput2" class="form-control border-primary"  name="lastname" placeholder="Work Phone">
                                    </div>
                                    <div class="col-md-3">
                                        <input type="text" id="userinput2" class="form-control border-primary"  name="lastname" placeholder="Mobile">
                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group row">
                                      <label class="col-md-3 label-control" for="userinput2">Website: </label>
                                      <div class="col-md-9">
                                          <input type="text" id="userinput2" class="form-control border-primary"  name="lastname">
                                      </div>
                                    </div>
                                  </div>
                            </div>
                             
  
                              <h4 class="form-section"><i class="ft-mail"></i> More Details</h4>
  
                              <ngb-tabset type="pills">
                                  <ngb-tab title="Other Details">
                                    <ng-template ngbTabContent>
                                        <div class="row">
                                            <div class="col-md-8">
                                                  <div class="card">
                                                      
                                                      <div class="card-body">
                                                          <div class="px-3">
                                                    <form class="form form-horizontal">
                                                      <div class="form-body">
                                                                <div class="form-group row">
                                                                        <label class="col-md-3 label-control" for="eventRegInput1">GST Treatment: </label>
                                                                        <div class="col-md-9">
                                                                            <select class="form-control" id="basicSelect">
                                                                                <option>Select Option</option>
                                                                                <option>Option 1</option>
                                                                                <option>Option 2</option>
                                                                                <option>Option 3</option>
                                                                                <option>Option 4</option>
                                                                                <option>Option 5</option>
                                                                              </select>
                                                                        </div>
                                                                    </div>
                                                                <div class="form-group row">
                                                                        <label class="col-md-3 label-control" for="eventRegInput1">Place Of Supply: </label>
                                                                        <div class="col-md-9">
                                                                            <select class="form-control" id="basicSelect">
                                                                                <option>Select Option</option>
                                                                                <option>Option 1</option>
                                                                                <option>Option 2</option>
                                                                                <option>Option 3</option>
                                                                                <option>Option 4</option>
                                                                                <option>Option 5</option>
                                                                              </select>
                                                                        </div>
                                                                    </div>
                                                                    
                                                                        <div class="form-group row">
                                                                            <label class="col-md-3 label-control">Tax Preference:</label>
                                                                            <div class="col-md-8">
                                                                              <div class="input-group">
                                                                                <div class="d-inline-block custom-control custom-radio mr-1">
                                                                                  <input type="radio" name="customer1" class="custom-control-input" checked="" id="yes">
                                                                                  <label class="custom-control-label" for="yes">Taxable</label>
                                                                                </div>
                                                                                <div class="d-inline-block custom-control custom-radio">
                                                                                  <input type="radio" name="customer1" class="custom-control-input" id="no">
                                                                                  <label class="custom-control-label" for="no">Tax Exempt</label>
                                                                                </div>
                                                                              </div>
                                                                            </div>
                                                                          </div>

                                                                          <div class="form-group row">
                                                                              <label class="col-md-3 label-control" for="eventRegInput1">Currency: </label>
                                                                              <div class="col-md-9">
                                                                                  <select class="form-control" id="basicSelect">
                                                                                      <option>INR-Indian Rupees</option>
                                                                                      <option>Option 1</option>
                                                                                      <option>Option 2</option>
                                                                                      <option>Option 3</option>
                                                                                      <option>Option 4</option>
                                                                                      <option>Option 5</option>
                                                                                    </select>
                                                                              </div>
                                                                          </div>
                                                                          <div class="form-group row">
                                                                              <label class="col-md-3 label-control" for="eventRegInput1">Payment Terms: </label>
                                                                              <div class="col-md-9">
                                                                                  <select class="form-control" id="basicSelect">
                                                                                      <option>Due on Receipt</option>
                                                                                      <option>Option 1</option>
                                                                                      <option>Option 2</option>
                                                                                      <option>Option 3</option>
                                                                                      <option>Option 4</option>
                                                                                      <option>Option 5</option>
                                                                                    </select>
                                                                              </div>
                                                                          </div>
                                                                          <div class="form-group row">
                                                                              <label class="col-md-3 label-control" for="eventRegInput1">Price List: </label>
                                                                              <div class="col-md-9">
                                                                                  <select class="form-control" id="basicSelect">
                                                                                      <option>Select </option>
                                                                                      <option>Option 1</option>
                                                                                      <option>Option 2</option>
                                                                                      <option>Option 3</option>
                                                                                      <option>Option 4</option>
                                                                                      <option>Option 5</option>
                                                                                    </select>
                                                                              </div>
                                                                          </div>
                                                                         
                                                                
                                        
                                                                  
                                                      </div>
                                        
                                                      <div class="form-actions center">
                                                                      <button type="button" class="btn btn-raised btn-warning mr-1">
                                                                        <i class="ft-x"></i> Cancel
                                                                      </button>
                                                                      <button type="button" class="btn btn-raised btn-primary">
                                                                          <i class="fa fa-check-square-o"></i> Save
                                                                      </button>
                                                                  </div>
                                                    </form>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>  
                                    </ng-template>
                                  </ngb-tab>
                                  <ngb-tab>
                                    <ng-template ngbTabTitle>Address</ng-template>
                                    <ng-template ngbTabContent>
                                        <div class="row match-height">
                                            <div class="col-md-6">
                                              <div class="card">
                                                <div class="card-header">
                                                  <h4 class="card-title" id="basic-layout-round-controls">BILLING ADDRESS</h4>
                                                 
                                                </div>
                                                <div class="card-body">
                                                  <div class="px-3">
                                        
                                                    <form class="form">
                                                      <div class="form-body">
                                        
                                                        <div class="form-group">
                                                          <label for="complaintinput1">Attention</label>
                                                          <input type="text" id="complaintinput1" class="form-control round"  name="companyname">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="complaintinput5">Address</label>
                                                            <textarea id="complaintinput5" rows="5" class="form-control round" name="complaintdetails" placeholder="Street 1"></textarea><br>
                                                            <textarea id="complaintinput5" rows="5" class="form-control round" name="complaintdetails" placeholder="Street 2"></textarea>
                                                          </div>
                                                        <div class="form-group">
                                                          <label for="complaintinput2">City</label>
                                                          <input type="text" id="complaintinput2" class="form-control round"  name="employeename">
                                                        </div>                                                                            
                                        
                                                        <div class="form-group">
                                                          <label for="complaintinput6">State</label>
                                                          <input type="text" id="complaintinput6" class="form-control round"  name="signature">
                                                        </div>
                                                        <div class="form-group">
                                                          <label for="complaintinput6">Zip Code</label>
                                                          <input type="text" id="complaintinput6" class="form-control round"  name="signature">
                                                        </div>
                                                        <div class="form-group">
                                                          <label for="complaintinput6">Country</label>
                                                          <input type="text" id="complaintinput6" class="form-control round"  name="signature">
                                                        </div>
                                                        <div class="form-group">
                                                          <label for="complaintinput6">Phone</label>
                                                          <input type="text" id="complaintinput6" class="form-control round"  name="signature">
                                                        </div>
                                                      </div>
                                        
                                                
                                                    </form>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                        
                                            <div class="col-md-6">
                                              <div class="card">
                                                <div class="card-header">
                                                  <h4 class="card-title" id="basic-layout-square-controls">SHIPPING ADDRESS</h4>
                                                 
                                                </div>
                                                <div class="card-body">
                                                  <div class="px-3">
                                        
                                                    <form class="form">
                                                      <div class="form-body">
                                        
                                                        <div class="form-group">
                                                          <label for="donationinput1">Attention</label>
                                                          <input type="text" id="donationinput1" class="form-control square"  name="fullname">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="donationinput7">Address</label>
                                                            <textarea id="donationinput7" rows="5" class="form-control square" name="comments" placeholder="Street 1"></textarea><br>
                                                            <textarea id="donationinput7" rows="5" class="form-control square" name="comments" placeholder="Street 2"></textarea>
                                                          </div>
                                                                                               
                                                        <div class="form-group">
                                                          <label for="donationinput3">City</label>
                                                          <input type="tel" id="donationinput3" class="form-control square" name="contact">
                                                        </div>
                                                        <div class="form-group">
                                                          <label for="donationinput3">State</label>
                                                          <input type="tel" id="donationinput3" class="form-control square" name="contact">
                                                        </div>
                                                        <div class="form-group">
                                                          <label for="donationinput3">Zip Code</label>
                                                          <input type="tel" id="donationinput3" class="form-control square" name="contact">
                                                        </div>
                                                        <div class="form-group">
                                                          <label for="donationinput3">Country</label>
                                                          <input type="tel" id="donationinput3" class="form-control square" name="contact">
                                                        </div>
                                                        <div class="form-group">
                                                          <label for="donationinput3">Phone</label>
                                                          <input type="tel" id="donationinput3" class="form-control square" name="contact">
                                                        </div>
                                        
                                                                                            
                                                     
                                        
                                                        
                                        
                                                      </div>
                                        
                                                   
                                                    </form>
                                        
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                  </ng-template>
                                  </ngb-tab>
                                  <ngb-tab>
                                    <ng-template ngbTabTitle>Contact Persons</ng-template>
                                    <ng-template ngbTabContent><p>Jelly-o cake chocolate bar. Ice cream gummi bears candy canes cookie toffee halvah marzipan. Gummies dessert powder biscuit sweet roll. Biscuit muffin jujubes. Tiramisu pie danish muffin oat cake. Apple pie cupcake apple pie cotton candy toffee biscuit pie. Lemon drops dessert marshmallow. Jelly-o soufflé muffin muffin. Tootsie roll carrot cake sugar plum brownie chocolate cake croissant cotton candy lemon drops toffee.
                                    Sweet roll cotton candy jelly-o tootsie roll candy canes liquorice tart cotton candy tiramisu. Powder sesame snaps chocolate liquorice pudding jelly cake pie. Lemon drops ice cream chocolate bar pudding dragée. Pastry cake cheesecake chocolate cake. Toffee bonbon fruitcake candy canes biscuit. Jelly chocolate cake danish tart jelly-o candy jelly powder. Brownie gummi bears brownie bear claw brownie bear claw croissant marshmallow. Pudding cake icing gummies pudding candy gingerbread macaroon. Chupa chups pastry tiramisu liquorice tiramisu marshmallow gummies brownie candy canes.</p></ng-template>
                                  </ngb-tab>
                                  <ngb-tab>
                                    <ng-template ngbTabTitle>Remarks</ng-template>
                                    <ng-template ngbTabContent>
                                        <div class="form-group row">
                                           
                                            <div class="col-md-12">
                                                <textarea id="userinput8" rows="6" class="form-control col-md-9 border-primary" name="bio" ></textarea>
                                               </div>
                                          </div>  
                                    </ng-template>
                                  </ngb-tab>
                                  
                                </ngb-tabset>
                </div>
  
                           
                        </form>
  
                    </div>
                </div>
            </div>
        </div>
    </div>
 

  
    
  </section>
  <!-- // Basic form layout section end -->